In [1]:
import functions_recommender

In [3]:
functions_recommender.song_recommender()

this app will provide song recommendations based on your own personal music tastes. Please fill in the form...

Enter song name:  smells like teen spirit
Enter artist name or press enter to skip:

Searching the dark web for smells like teen spirit...
Opps, it seems like the artist has hard name to remember... Don't worry, we will find your song!
                          track_name artist_name
0            Smells Like Teen Spirit     Nirvana
1            Smells Like Teen Spirit      Witchz
2            Smells Like Teen Spirit     Malia J
3            Smells Like Teen Spirit     Naeleck
4  Smells Like Teen Spirit - Alt Mix      Witchz

please select the correct song using values from 0 to 4 1

model loaded...
dipping in the magic sauce...

                   track_name         artist_name
530   where do i go from here         robert cray
1273            all this time             tiffany
1035         the prodigal sun    the black angels
2676                two heads  jefferson airplane
111            feel something        jaymes young

Thanks for using our song recommender, would you like more recommendations? (please answer: yes or no) no

thank you!

                   track_name         artist_name
530   where do i go from here         robert cray
1273            all this time             tiffany
1035         the prodigal sun    the black angels
2676                two heads  jefferson airplane
111            feel something        jaymes young